
.history_container{
  padding-top: 5vw;
  >div:nth-child(1){
    font-size: 3vw;
  }
}

.history_contents_container{
  flex-wrap: wrap;
  margin-top: 3vw;
}

.history_content{
  min-width: 200px;
  height: 15vw;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding-top: 2vw;
  >div:nth-child(1){
    font-size: 2.3vh;
    text-align: center;
    font-weight: 600;
    color: #02073e;
    margin: 1vw;
  }
  >div:nth-child(2){
    font-size: 1.5vh;
    margin-top: 2vw;
    color: #02073e;
    line-height: 170%;
    text-align: center;
  }
}