.table_container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  .table{
    background-color: #ffffff;
    display: flex;
    gap: 5vw;
    width: 80%;
    padding: 5vw;
  }


}


.history_container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  padding-top: 5vw;
  >div:nth-child(1){
    font-size: 3vw;;
  }
}

.history_contents_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3vw;
}

.history_content{
  min-width: 200px;
  height: 15vw;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding-top: 2vw;
  >div:nth-child(1){
    font-size: 2.3vh;
    text-align: center;
    font-weight: 600;
    color: #02073e;
    margin: 1vw;
  }
  >div:nth-child(2){
    font-size: 1.5vh;
    margin-top: 2vw;
    color: #02073e;
    line-height: 170%;
    text-align: center;
  }
}